* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
a {
  text-decoration: none;
}

#__next {
  height: 100%;
}
li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  height: 100%;
  padding-top: 50px;
  background-color: #f7f8fb;
}

html {
  height: 100%;
}
